@model EstatePortal.Models.UserUpdate

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel użytkownika</title>
</head>
<body>
    <h2>Panel użytkownika</h2>

    <h3>Aktualizacja danych osobowych</h3>
    <form action="/Account/UpdateUser" method="post">

        @* @if (!ViewData.ModelState.IsValid)
        {
            <div class="validation-summary-errors">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        } *@

        <div>
            <label>Imię:</label>
            <input type="text" name="FirstName" />
        </div>

        <div>
            <label>Nazwisko:</label>
            <input type="text" name="LastName" />
        </div>

        <div>
            <label>Email:</label>
            <input type="text" name="Email" />
        </div>

        <button type="submit">Zaktualizuj dane</button>
    </form>

    <h3>Zmiana hasła</h3>
    <form action="/Account/ChangePassword" method="post">
        <div>
            <label>Obecne hasło:</label>
            <input type="password" name="CurrentPassword" required />
        </div>

        <div>
            <label>Nowe hasło:</label>
            <input type="password" name="NewPassword" required />
        </div>

        <div>
            <label>Potwierdź nowe hasło:</label>
            <input type="password" name="ConfirmPassword" required />
        </div>

        <button type="submit">Zmień hasło</button>
    </form>

    <h3>Dodaj nowego pracownika</h3>
    <form asp-action="InviteEmployee" method="post">
        <div>
            <label>Adres e-mail pracownika:</label>
            <input type="email" name="email" required />
        </div>
        <button type="submit">Wyślij zaproszenie</button>
    </form>


    <a href="/Account/Logout">Wyloguj się</a>
</body>
</html>
