<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rejestracja - Portal Nieruchomościowy</title>
    <link rel="stylesheet" href="~/css/Registration.css" />
    <link rel="stylesheet" href="fontello/css/fontello.css" />
    <link rel="stylesheet" href="~/css/font/css/fontello.css" />
</head>
<body>
    <div id="container">
        <div id="tlo">
            <header>
                <a href="#" class="logo">Logo</a>
                <ul class="navlist">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
                <div id="rightNavlist">
                    <div id="mojeKonto"><a href="@Url.Action("Login", "Home")"><i class="icon-user"></i>Moje konto</a></div>
                    <div id="WstawOgloszenie"><a href="#">Dodaj ogłoszenie</a></div>
                </div>
            </header>

            <div id="Menu">
                <h2>Zarejestruj się</h2>
                <!-- Ustawienie prawidłowej ścieżki akcji w formularzu -->
                <form action="/Account/Register" method="post">
                    <div class="input">
                        <i class="icon-mail-alt"></i>
                        <!-- Poprawione name, aby odpowiadało właściwościom modelu -->
                        <label> <input type="text" placeholder="Podaj email" name="Email" required></label>
                    </div>

                    <div class="input">
                        <i class="icon-user"></i>
                        <label> <input type="text" placeholder="Nazwa użytkownika" name="Username" required></label>
                    </div>

                    <div class="input">
                        <i class="icon-lock"></i>
                        <label> <input type="password" placeholder="Podaj hasło" name="Password" required></label>
                    </div>

                    <div class="input">
                        <i class="icon-lock"></i>
                        <label> <input type="password" placeholder="Potwierdź hasło" name="ConfirmPassword" required></label>
                    </div>

                    <div class="input">
                        <i class="icon-user"></i>
                        <label> <input type="text" placeholder="Imię" name="FirstName"></label>
                    </div>

                    <div class="input">
                        <i class="icon-user"></i>
                        <label> <input type="text" placeholder="Nazwisko" name="LastName"></label>
                    </div>

                    <div class="input">
                        <i class="icon-phone"></i>
                        <label> <input type="tel" placeholder="Numer telefonu" name="PhoneNumber"></label>
                    </div>

                    <div class="input">
                        <i class="icon-home"></i>
                        <label>
                            <select name="Role" required>
                                <option value="Private">Osoba fizyczna</option>
                            </select>
                        </label>
                    </div>

                    <input type="submit" value="Zarejestruj się">
                    <br><br>
                    Masz już konto? <a href="/Account/Login">Zaloguj się!</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
